.mystack{
    padding: 3em 0;
    padding-bottom: 4em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--purple);
}

.stackHeader{
    font-family: var(--head-font);
    font-size: 3.5em;
    margin-bottom: .5em;

    color: black;
}

.stackImgsBorder{
    background-color: white;
    border: 10px solid white;
    border-radius: 2em;

    padding: 2em;
    padding-top: 1em;

    margin-bottom: 1em;
}

.stackImgs{
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    align-items: center;


    background-color: white;
    border: 2px solid white;
    border-radius: 2em;

    margin-top: 1em;
}

.stackImgs img{
    width: 3em;
    margin: 1em;

    transition: .5s;
}

.stackImgs .express{
    width: 6em;
}

.stackImgs img:hover{
    transform: translateY(-0.25em);
    cursor: pointer;
}