.sidebar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 5vw;
    z-index: 5;
    position: fixed;
    bottom: 10px;
    left: 0px;
    margin: 0 2em;
}

.sidebar .logo{
    width: 2em;
    margin: 1em 0;
}

.sidebar .line-asset{
    height: 20vh;
}

.sidebar .top{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 3vw;
}

.sidebar .top img{
    width: 5em;
    margin-top: 2em;
}

.sidebar .bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.sidebar .bottom img{
    transition: 1s;
}

.sidebar .bottom img:hover{
    transform: translateY(-5px);
}

.sidebar .top img:hover{
    cursor: pointer;
}