html{
    background-color: #000000;
    --pink: #ffb1e0;
    --pink-two: #ff75c8;

    --font: 'IBM Plex Mono', monospace;
    --font-one:'Roboto Mono', monospace;
    --font-two:'Roboto', sans-serif;
}

.navbar{
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90vw;
    padding: 3.5em 2em;
    z-index: 5;
    position: fixed;
    top: 0px;

    font-family: 'Kanit', sans-serif;
}

.navbar img{
    width: 1em;
    margin: 0 1em;
}

.navbar .left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar .right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar .right p{
    margin: 0 2em;
    transition: 1s;
}

.navbar .right a{
    text-decoration: none;
    color: white;
}

.navbar .right p:hover{
    cursor: pointer;
    color: var(--pink-two);
}

@keyframes opacityOfftoOn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}

.navbar{
    animation-duration: 3s;
    animation-name: opacityOfftoOn;
    animation-delay: 0s;
}

@media (max-width: 765px) { 
    .navbar{
        display: none;
    }
        
 }