.navbar{
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90vw;
    padding: 3.5em 2em;
    z-index: 5;
    position: fixed;
    top: 0px;

    font-family: 'Kanit', sans-serif;
}

.navbar img{
    width: 1em;
    margin: 0 1em;
}

.navbar .left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar .right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar .right p{
    margin: 0 2em;
}