html{
    background-color: #000000;
    --pink: #ffb1e0;
    --pink-two: #ff75c8;
    --dark-mauv: #C22C86;

    --font: 'IBM Plex Mono', monospace;
    --font-one:'Roboto Mono', monospace;
    --font-two:'Roboto', sans-serif;
    --font-three: 'Kanit', sans-serif;
}

.projects{
    margin: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects .header{
    margin: 1em;
    font-family: var(--font-three);
    font-size: 3em;
    color: var(--pink-two);
}

.projects-grid{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);

    width: 65vw;
}

.grid-col-span-2{
    grid-column: span 2;
}

.cinema-save{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start:1;
    grid-row-end:3;
    height: 50vh;
}

.cheflavor{
    grid-column-start: 3;
    grid-column-end: 4;
}

.cheflavor-staff{
    grid-column-start: 4;
    grid-column-end: 5;
}

.poodle-doodle{
    grid-row-start:3;
    grid-row-end:5;
    height: 40vh;
}

.poodle-doodle img{
    width: 35%;
}

.sheNetworks{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start:2;
    grid-row-end:5;
}

.sheNetworks img{
    width: 30%;
}

.projectDiv img{
    width: 75%;
    margin: 1em;
}

.projectDiv{
    background-color: #171717;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttonDiv img{
    width: 2em;
    transition: 1s;
}

.buttonDiv img:hover{
    transform: translateY(-5px);
}
