.projects{
    margin: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects .header{
    margin: 1em;
}

.projects-grid{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);

    width: 65vw;
}

.grid-col-span-2{
    grid-column: span 2;
}

.cinema-save{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start:1;
    grid-row-end:3;
    height: 50vh;

    background-image: url('https://res.cloudinary.com/dr0ofxgkz/image/upload/v1645727101/portfolio/cinema_save_placeholder_ghrroi.png');
    background-size: contain;
}

.cheflavor{
    grid-column-start: 3;
    grid-column-end: 4;

    background-image: url('https://res.cloudinary.com/dr0ofxgkz/image/upload/v1636656191/portfolio/cheflavor_dzfi1a.png');
    background-size: auto;
    background-repeat: no-repeat;


}

.cheflavor-staff{
    grid-column-start: 4;
    grid-column-end: 5;
}

.poodle-doodle{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start:2;
    grid-row-end:5;

    background-image: url('https://res.cloudinary.com/dr0ofxgkz/image/upload/v1637557563/paint-app/poodle-doodle_gkby0l.png');
    background-size: contain;
}

.sheNetworks{
    grid-row-start:3;
    grid-row-end:5;
    height: 20vh;

    background-image: url('https://res.cloudinary.com/dr0ofxgkz/image/upload/v1645727105/portfolio/sheNetworks_z0gemm.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.projectDiv img{
    width: 15em;
    transition: all 1s;
}

.projectDiv{
    background-color: #fff;
}

.buttonDiv img{
    width: 2em;
}