html {
    background-color: #000000;
    --pink: #ffb1e0;
    --pink-two: #ff75c8;
    --dark-mauv: #c22c86;
    --font: "IBM Plex Mono", monospace;
    --font-one: "Roboto Mono", monospace;
    --font-two: "Roboto", sans-serif;
    --font-three: "Kanit", sans-serif;
}

.projects {
    margin: 10em 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.projects .header {
    margin: 1em;
    font-family: var(--font-three);
    font-size: 3em;
    color: var(--pink-two);
}

.projects-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    width: 50vw;
}

.professional-projects-grid {
    display: grid;
    gap: 1.5rem;
    width: 25vw;
}

.grid-col-span-2 {
    grid-column: span 2;
}

/* .cinema-save {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100%;
}

.cheflavor {
    grid-column-start: 3;
    grid-column-end: 4;
}

.cheflavor-staff {
    grid-column-start: 4;
    grid-column-end: 5;
}

.poodle-doodle {
    grid-row-start: 3;
    grid-row-end: 5;
    height: 100%;
}

.sheNetworks {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
} */

.sheNetworks img {
    width: 30%;
}

.projectDiv img {
    width: 75%;
    margin: 1em;
}

.projectDiv {
    background-color: #171717;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em 1em;
}

#bally-sports {
    width: 50%;
}

.description {
    width: 75%;
    text-align: center;
    font-family: var(--font-three);
    font-size: medium;
}

.buttonDiv img {
    width: 2em;
    transition: 1s;
}

.buttonDiv .sheNetworks-devpost {
    width: 2.25em;
}

.buttonDiv img:hover {
    transform: translateY(-5px);
}

.currentProj {
    font-family: var(--font-three);
    font-size: 1.75em;
    font-weight: bold;
    margin-top: 0.5em;
    color: white;
}

@media (max-width: 925px) {
    .projects {
        margin: 0;
    }
    .projects-grid {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
        justify-content: center;
    }
}