html{
    --bannerFont: 'Montserrat Subrayada', sans-serif;
    --projectFont: 'Raleway', sans-serif;
}

.intro{
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 .intro img{
     width: 50vw;
 }

@media (max-width: 900px) {
    .intro{
        height: 75vh;
        color: #020D13;
    }
    
    .nameAndDescript{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }  
    
    .name{
        font-size: 4em;
    }
    
    .description{
        font-size: 1em;
        margin-left: 0;
    }
 }