.resume{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 5em;

    background-color: var(--grey);
}

.resume iframe{
    width: 60vw;
    height: 160vh;
}

.resume .profilePic{
    width: 15em;
    border-radius: 50%;
}

.resume .divLeft-Color{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    padding: 1.5em;
    background-color: var(--lavendar);
    border: 1px solid var(--lavendar);
    border-radius: 1.5em;

    width: 27vw;
}

.resume .myStack-Resume{
    margin-top: 1em;
}

.resume .divLeft{
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.resume .divLeft h1{
    font-family: var(--head-font);
    font-size: 1.75em;
}

.resume .divRight{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resume button{
    margin-top: 2em;

    font-weight: bold;
    font-size: 1em;
}

.downloadBtn button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.downloadBtn img{
    width: 2.5vw;
}

.resume a{
    color: white;

    text-decoration: none;
}



.email{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-top: 3em;
}

.email a{
    color: white;
    text-decoration: none;
    padding: none;
}

.email-link p {
    margin: 0;
}

.email img{
    width: 2em;
}

.email-link{
    margin: .5em;
}

.email a:hover{
    filter: drop-shadow(0 0 1em var(--lightBlue));
    background-color: #aee8f100;
    cursor: pointer;
}

@media (max-width: 900px) { 
    .resume{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    .resume .divLeft-Color{
        width: 50vw;
    }
 }


 @media (max-width: 700px) { 
    .resume{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    .resume .divLeft-Color{
        width: 50vw;
    }
    
    .resume img{
        width: 5vw;
        margin-bottom: 2em;
    }

    .email img{
        width: 5vw;
    }

    .downloadBtn img{
        width: vw;
    }
 }

 ::-webkit-scrollbar {
    display: none;
}