.NotFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.NotFound .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ff9bd7;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 2em;
}

.container {
    margin-top: 5em;
}

.NotFound a {
    text-decoration: none;
    color: #e9078f;
}