@import url('../generalStyleSheet.css');

.sourceAndAbout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: black;
    text-decoration: none;

    font-family: var(--projHeaderFont);

    background-image: url('https://res.cloudinary.com/dr0ofxgkz/image/upload/v1637547646/paint-app/Untitled_6_oaeouc.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
}

.aboutUs{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;

    margin-top: 10em;
}

@media (min-width: 1401px) { 
    .aboutUs{
        background-image: url('https://res.cloudinary.com/dr0ofxgkz/image/upload/v1637547646/paint-app/Untitled_6_oaeouc.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;

        margin-top: 0;
    }
    
    .sourceAndAbout{
        background-image: none;
    }
}

.people{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    width: 25vw;
    margin: 2.5em;
}

.mariel{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    padding: 2.5em;
    background-color: white;
    border: 1px solid white;
    border-radius: 2.5em;

    transition: 1s;
}

.mariel p{
    text-align: center;
    font-family: var(--text-font);
    color: black;
}

.mariel .name{
    font-size: 2em;
}

.marielProfilePic{
    width: 15em;
    margin: 1.5em;
    margin-top: 0;
    border-radius: 50%;
    border: 5px solid var(--seafoam);
}

.contactus{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    margin: 0;
    margin-top: 2em;
    z-index: 10;
}

.contactus img{
    width: 2em;
    margin: 1.5em;
}

.source{
    color: black;
    font-family: var(--text-font);

    text-align: center;
}

.source h2 {
    font-size: 1.25em;
    font-weight: bold;
}

.source h3 {
    font-size: 1em;
}

.source a{
    color: rgb(74, 96, 156);
    text-decoration: none;
}

@media (max-width: 900px) { 
    .source h2{
        font-size: 1em;
    }
    .source h3{
        font-size: .75em;
    }
 }


 .mariel:hover{
    box-shadow: 0 0 50px rgba(80, 80, 80, 0.657);
}


.contactus img:hover{
    transform: translateY(-0.25em);
    cursor: pointer;
}