html{
    background-color: #000000;
    --pink: #ffb1e0;
    --pink-two: #ff75c8;

    --font: 'IBM Plex Mono', monospace;
    --font-one:'Roboto Mono', monospace;
    --font-two:'Roboto', sans-serif;
}

.homePg{
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homePg .content{
    z-index: 1;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

}

@keyframes opacityOfftoOn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}

.homePg .intro-logo{
    animation-duration: 3s;
    animation-name: opacityOfftoOn;
    animation-delay: 0s;
}

.aboutme-content{
    margin: 0 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}